{% extends 'base.html' %} {% block content %}

<div class="form-container">
  <form method="post" class="auth-container" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      <label for="">Product name</label>
      <input type="text" name="name" required />
    </div>
    <div>
      <label for="">Price</label>
      <input type="number" name="price" min="0" required />
    </div>
    <div>
      <label for="">Stock</label>
      <input type="number" name="stock" min="0" required />
    </div>
    <div>
      <label for="">Image</label>
      <input type="file" name="image" required />
    </div>
    <div>
      <label for="">Details</label>
      <input type="text" name="details" required />
    </div>
    <input type="submit" class="submit-button" value="add to market" />
  </form>
</div>

{% endblock %}
