{% extends 'base.html' %} {% block content %}

<form method="get" action="{% url 'home' %}" class="search-form">
  {% csrf_token %}
  <input type="text" name="q" placeholder="Search Items..." />
</form>

<div class="card-container">
  {% for product in products %}
  <div class="card">
    <div class="card-header">{{ product.name }}</div>
    <div class="details">
      <img
        src="{{ MEDIA_URL }}{{ product.image.url }}"
        alt="Not available"
        class="product-img"
        style="margin: 10px 0"
      />
      <p><strong>Price: </strong>{{ product.price }}</p>
      <a href="{% url 'product' id=product.id %}">Order now!</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
