{% extends 'base.html' %} {% block content %}

<div class="card-container">
  {% for item in store %}
  <div class="card bg-blue">
    <div class="card-header">{{ item.name }}</div>
    <div class="details">
      <img
        src="{{ item.image.url }}"
        alt="Not available"
        height="188px"
        width="188px"
      />
      <p><strong>Price:</strong> {{ item.price }}</p>
      {% if item.stock < 1 %}
      <p>Out of stock</p>
      {% else %}
      <p><strong>Stock: </strong>{{item.stock}}</p>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
