.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.card-header {
  font-size: 26px;
  font-weight: bold;
  padding: 5px 8px 0;
  border-bottom: 1px solid black;
}

.details {
  margin: 6px;
  justify-content: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.details a {
  color: white;
  font-weight: bold;
  background-color: #002ead;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 6px;
  transition: 0.5s;
}

.details a:hover {
  color: gray;
}
