.product-container {
  margin-top: 20px;
}

.product-container img {
  height: 300px;
  width: 300px;
  box-shadow: 0 2px 6px rgb(118, 118, 118);
  padding: 20px;
  margin-bottom: 10px;
}

.product-container div h3 {
  border-top: 1px solid black;
  padding-top: 10px;
}

.product-container div p {
  margin: 8px 0;
}

.span-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
}

.span-container a {
  color: white;
  font-weight: bold;
  background-color: #002ead;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s;
}

.span-container a:hover {
  color: gray;
}
