.product-container {
  margin-top: 20px;
}

.product-container img {
  height: 300px;
  width: 300px;
  box-shadow: 0 2px 6px rgb(118, 118, 118);
  padding: 20px;
  margin-bottom: 10px;
}

.product-container div h3 {
  border-top: 1px solid black;
  padding-top: 10px;
}

.product-container div p {
  margin: 8px 0;
}

.span-container {
  display: flex;
  flex-direction: column;
}

.span-container a {
  color: black;
  font-weight: bold;
}

.span-container a:hover {
  color: gray;
}
