.search-form {
  display: flex;
  flex-direction: row-reverse;
}

.search-form input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

@media screen and (max-width: 800px) {
  .search-form {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
