<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Commerce | {{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    <link rel="stylesheet" href="{% static 'navigation.css' %}" />
    <link rel="stylesheet" href="{% static 'auth-form.css' %}" />
    <link rel="stylesheet" href="{% static 'products.css' %}" />
    <link rel="stylesheet" href="{% static 'product_view.css' %}" />
    <style>
      .alert-warning {
        margin: 0;
        display: flex;
        font-weight: bold;
        justify-content: center;
        height: 40px;
        align-items: center;
        background-color: rgb(255, 97, 97);
      }

      .alert-success {
        background-color: rgb(116, 116, 255);
        margin: 0;
        align-items: center;
        justify-content: center;
        display: flex;
        font-weight: bold;
        height: 40px;
      }
    </style>
  </head>
  <body>
    {% if messages %} {% for message in messages %}
    <div class="alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %} {% endif %}
    <nav>
      <a href="{% url 'home' %}" class="nav-brand">onstore</a>
      <div class="nav-items">
        {% if request.user.is_authenticated %}
        <a href="{% url 'store' %}">store</a>
        <a href="{% url 'order' %}">orders</a>
        <a href="{% url 'logout' %}">logout</a>
        {% else %}
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'register' %}">register</a>
        {% endif %}
      </div>
      <div class="burger-button" onclick="burger('burger')">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="burger" id="burger">
        {% if request.user.is_authenticated %}
        <a href="{% url 'store' %}">store</a>
        <a href="{% url 'order' %}">orders</a>
        <a href="{% url 'logout' %}">logout</a>
        {% else %}
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'register' %}">register</a>
        {% endif %}
      </div>
    </nav>
    <div style="margin: 10px auto; width: 90%">
      {% block content %} {% endblock %}
    </div>
    <script src="{% static 'js/revealButtons.js' %}"></script>
  </body>
</html>
